<nav class="header">
    <nav class="super"> <a href="#">Search</a>
 <a href="#" id="close-messages">Close</a>

    </nav>
    <div class="search">
        <div class="input-append">
            <input class="input-xlarge" id="appendedDropdownButton" type="text" />
            <div class="btn-group">
                <button class="btn btn-primary" data-toggle="dropdown">Search <span class="caret"></span>

                </button>
            </div>
        </div>
    </div>
    <div class="controls">
         <h1>Messages</h1>
    </div>
</nav>
<div id="side">
    <button class="btn content-toggle" data-name="#compose-message">Compose</button>
    <ul class="nav nav-list">
        <li class="content-toggle" data-name="#received-messages"><a>Inbox</a>
        </li>
        <li class="content-toggle" data-name="#sent-messages"><a>Sent Messages</a>
        </li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<div id="content">
  <div class="middle-pane being-viewed" id="received-messages">
    <h2>My Messages</h2>
    <table class="table">
        <tr>
            <th>Sender</th>
            <th>Subject</th>
            <th></th>
            <th>Date Received</th>
            <th>Delete</th>
        </tr>
     <% receivedMessages.each(function (message) { %>
        <% if (!message.get('recipient_deleted?')) { %>
          <% if (message.get('unread?')){ %>
            <% var messageClass = "unread" } else { var messageClass = "read" } %>
     

        <tr class="for-message content-toggle <%= messageClass %>" data-name="#view-message" data-id="<%= message.id %>">
            <td><%= message.get('sender_name')%></td>
            <td><%= message.get('title') %></td>
            <td></td>
            <td><%= message.get('created_at').slice(5,10) %></td>
            <td><a class="delete-message" data-id="<%= message.id %>">&times;</a></td>
        </tr>
        <% } %>
      <% }) %>   
    </table>
  </div>
  
  <div class="middle-pane" id="compose-message">
    <form id="comment-form">
      <input id="message-recipient" type="text" class="enter-recipient" placeholder="Recipient">
      <input id="message-subject" type="text" placeholder="Subject" class="enter-recipient">
      <textarea class="message-body" id="message-body" placeholder="Body"></textarea>
      <button type="button" class="btn btn-primary" id="send-message">Send Message</button>  
    </form>
  </div>
  
  <div class="middle-pane" id="view-message">

  </div>
  
  <div class="middle-pane" id="sent-messages">
    <h2>Sent Messages</h2>
    <table class="table">
        <tr>
            <th>Recipient</th>
            <th>Subject</th>
            <th></th>
            <th>Date Sent</th>
            <th>Delete</th>
        </tr>
     <% sentMessages.each(function (message) { %>
        <% if (!message.get('sender_deleted?')) { %>
        <tr class="for-message content-toggle" data-name="#view-message" data-id="<%= message.id %>">
            <td><%= message.get('recipient_name')%></td>
            <td><%= message.get('title') %></td>
            <td></td>
            <td><%= message.get('created_at').slice(5,10) %></td>
            <td><a>&times;</a></td>
        </tr>
        <% } %>
      <% }) %>   
    </table>
  </div>
    
    
    
    
    
</div>
<footer>Footer</footer>
