<% if ($('#user-id').length > 0 && user.posts().length > 0) { %>
  <% var postsLength = user.posts().length %>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>

      <header class="clearfix feed-header" data-role="banner">
        <div class="compWrapper">
            <div class="compInnerWrapper">
                <div class="compContainer" id="cycler1">
                    <div class="compPhoto compPhoto1">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img  src=""/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto2">
                        <a href="#">
                            <div class="Image iLoaded iWithTransition">
                                <img src="http://placehold.it/225x225/545454/fff&text=photo2"/>
                                
                                
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto3">
                        <a href="#" class="">
                            <div class="Image iWithTransition">
                                <img src="http://placehold.it/425x425/157B86/fff&text=photo3"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                        

                    </div>
                    <div class="compPhoto compPhoto4">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="http://placehold.it/250x250/222/fff&text=photo4"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto5">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="http://placehold.it/220x220/444/fff&text=photo5"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto6">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="http://placehold.it/230x230/333/fff&text=photo6"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto7">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="http://placehold.it/250x250/555/fff&text=photo7"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="profile-user">
      <div class="row-fluid">
    <div class="span6">
      <div class="pull-left" style="margin-right:15px">
          <img src="<%= user.escape('avatar') %>" data-toggle="modal" data-target="#myModal" class="img-polaroid"/>
        
          
      </div>

      <h2><%= user.get('username') %></h2>
      <p>
        <strong><%= user.get('username')%></strong>
      </p>
    </div>
    <div class="span6">
      <ul class="inline user-counts-list">
        <li>Photos <span class="count"><%= user.posts().length %></span></li>
        <li>Followers <span class="count"><%= user.get('followers') %></span></li>
        <li>Following <span class="count"><%= user.get('followeds') %></span></li>
      </ul>
    </div>
  </div>
      
      
  </div>
  



<div class="row">

  <% user.posts().each(function(post){ %>
    <div class="col-xs-3">
        <a class="thumbnail" href= "<%= post.get('filepicker_url') %>" title="Picture" data-id="<%= post.id %>">
        <img src="<%= post.get('filepicker_url') %>" title="Picture">
      </a>
      </a>
    </div>
  <% }) %>
</div>
<div id="new-message-view"></div>
<div id="messages-view"></div>
 <div id="show-view"></div>
 <% } %>

 
 
 
