<% if ($('#user-id').length > 0 && user.posts().length > 0) { %>
  <% var postsLength = user.posts().length %>

<% var arr = user.posts().pluck("id"); %>
<% var randomModel = function() {user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url');} %>


      <header class="clearfix feed-header" data-role="banner">
        <div class="compWrapper">
            <div class="compInnerWrapper">
                <div class="compContainer" id="cycler1">
                    <div class="compPhoto compPhoto1">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img  src="<%= user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url') %>"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto2">
                        <a href="#">
                            <div class="Image iLoaded iWithTransition">
                                <img src="<%= user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url') %>"/>
                                
                                
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto3">
                        <a href="#" class="">
                            <div class="Image iWithTransition">
                                <img src="<%= user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url') %>"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                        

                    </div>
                    <div class="compPhoto compPhoto4">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="<%= user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url') %>"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto5">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="<%= user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url') %>"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto6">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="<%= user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url') %>"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                    <div class="compPhoto compPhoto7">
                        <a href="#">
                            <div class="Image iWithTransition">
                                <img src="<%= user.posts().get(arr[Math.floor(Math.random() * arr.length)]).escape('filepicker_url') %>"/>
                                <b class="compPhotoShadow"></b>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="profile-user">
      <div class="row-fluid">
    <div class="span6">
      <div class="pull-left" style="margin-right:15px">
          <img src="<%= user.escape('avatar') %>" title="Change avatar" class="img-polaroid"/>
        
          
      </div>

      <h2><%= user.get('username') %></h2>
    </div>
    <div class="span6">
      <ul class="inline user-counts-list">
        <li>Photos <span class="count"><%= user.posts().length %></span></li>
        <li>Followers <span class="count followers-count"><%= user.get('followers') %></span></li>
        <li>Following <span class="count following-count"><%= user.get('followeds') %></span></li>
      </ul>
    </div>
  </div>
      
      
  </div>
  

<div class="row">
<% var item = 0 %>
<% var row = 0 %>
  <% user.posts().each(function(post){ %>

    <% if (item === 0) {%>
      <div class="row" id="<%= "row-" + row %>">
    <% } %>
    <div class="col-xs-3">
        <a class="thumbnail" href= "<%= post.get('filepicker_url') %>" title="Picture" data-id="<%= post.id %>" >
        <img src="<%= post.get('filepicker_url') %>" title="<%= post.get('title')%>">
      </a>
      </a>
    </div>
    <% if (item === 3) {%>
      </div>
      <% row++ %>
    <% } %>
    <% item = (item + 1) % 4 %>
  <% }) %>
</div>
<div id="new-message-view"></div>
<div id="messages-view"></div>
 <div id="show-view"></div>
 <% } %>

<script>
$(document).ready(function(){
  $('#page-1').addClass('active')
})
</script>
 
 
 
