<button type="button" class="close" id="close-modal">&times;</button>
<div id="image-container">

  <img src="<%= post.attributes.filepicker_url %>">
  <% if (post.likes()) { %>
    <%= post.likes().length %> likes.
  <% } %>
  
  <%if (post.likes().where({username: userName}).length > 0) { %>
  <a id="unlike-post">unlike</a> 
  <% } else { %>
   <a id="like-post">like</a>
  <% } %>
</div>

<div class="detailBox">
    <div class="titleBox">
      <label><%= post.get('title') %></label>
    </div>
    <div class="commentBox"> 
      <%= post.get('comment') %>
    </div>
    <div class="actionBox">
        <ul class="commentList">
      <% post.comments().forEach (function(comment){ %>
       
            <li>
                <div class="commenterImage">
                  <img src="<%= comment.attributes.avatar %>" />
                </div>
                <div class="commentText">
                    <p class=""><%= comment.attributes.body %></p> <span class="date sub-text">by <%= comment.attributes.username %> on <%= comment.attributes.created_at.slice(0,10)%></span>

                </div>
            </li>
       <% }) %>
        </ul>
        <form class="form-inline" role="form" id="comment-form">
            <div class="form-group">
                <input class="form-control" type="text" id="title-input" placeholder="Your comments" />
            </div>
            <div class="form-group">
                <button id="make-comment" class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>





