<!DOCTYPE html>
<html>
<head>
  <title>инстиград</title>
  
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>

  <%= csrf_meta_tags %>

  
  
  

  
  

</head>
  

 

<body>
    

  <input 
    id="current-user-id" 
    type="hidden"
    data-current-user-avatar="<%= current_user.avatar if current_user %>" 
    data-current-user-id="<%= current_user.id if current_user %>"
    data-current-user-name="<%= current_user.username if current_user %>">
   <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#"><img src="/assets/logo.png"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? && current_user.username == page_id %>
            <li><a href="#upload">Upload Picture</a></li>
          <% elsif logged_in? && !is_following? && current_user.id != page_id.to_i %>
            <li><a href="#follow">Follow</a></li>
          <% elsif logged_in? && is_following? %>
            <li><a href="#unfollow">Unfollow</a></li>
          <% end %>
          <% unless logged_in? %>
            <li><%= link_to "Sign In", new_session_url%>
            <li><%= link_to "Sign Up", new_user_url %></li>
          <% else %>          
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#avatar">Change Avatar</a></li>
                  <li><%= link_to "View Profile", user_url(current_user.username) %></li> 
                  <li><a href="#" id="read-messages-button">My Messages</a></li>            
                  <li class="divider"></li>
                  <li><%= link_to "Log Out", session_url, method: :delete %></li>
                </ul>
              </li>

          <% end %>
      
          
          


        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
<% if flash[:notifications] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:notifications].join("<br>").html_safe %>
</div>
<% end %>

  </nav>
  

  
  <%= yield %>
   
  <div class="container">
    
    
    
  </div>
  <div id="message-background">
  </div>
  
    <script type="text/javascript" src="https://rawgithub.com/powmedia/backbone.bootstrap-modal/master/src/backbone.bootstrap-modal.js"></script>
  <script 
    type="text/javascript"
    src="//api.filepicker.io/v1/filepicker.js">
    filepicker.setKey('A2KqNetbBTzyDxWFrOclSz')
  </script>  

</body>
</html>
